site_name: FastAPI Docs

nav:
  - About: index.md
  - Examples: examples.md

theme: 
  name: material
  features:
    - navigation.tabs
    - search.suggest
    - search.highlight
    - content.code.copy